name: cicd
on:
  push:
    branches:
      - main
      - master

jobs:
  cicd:
    name: CI/CD for linter
    runs-on: ubuntu-20.04
    if: |
      !contains(github.event.head_commit.message, 'skip ci')
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: ap-southeast-2

      - name: Test latest version of linter
        uses: ./


      - name: Notify Slack
        if: always()
        uses: jmpa-oss/job-to-slack@v0.0.1
        with:
            webhook: ${{ secrets.SLACK_GITHUB_WEBHOOK_URL }}
            status: ${{ job.status }}
